.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: blue;
    height: 150px;
}

.header__right {
    position: absolute;
    right: 0;
    width: 100px;
    height: 120px;
    bottom: 850px;
}

.header__left {
    position: absolute;
    left: 0;
    bottom: 890px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}